.form__page{
    width: 45vw;
    box-shadow: rgba(69, 70, 71, 0.2) 0px 8px 24px;
    border-radius: 20px;
    padding: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    background: #eee2dc;
}
.form__page div{
    background: #eee2dc;
}

.form__input__test, .textArea__test{
    display: block;
    margin-bottom: 1rem !important;
    margin-top: 1rem;
}
.form__label{
    padding-bottom: 1rem;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 1.2rem;
    margin-left: 1rem;
    background: #eee2dc;
}
.form__input{
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    width: 90%;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    padding:10px;
    transition: .3s box-shadow;
    border-radius: 10px;
}
.form__textarea{
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    resize: vertical;
    width: 90%;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    padding:10px;
    transition: .3s box-shadow;
    border-radius: 10px;
    height:150px;
}
.form__input:hover, .form__textarea:hover{
    box-shadow:0 0 4px rgba(0,0,0,0.5);
}

.radio__form{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}
.input__radio{
    align-items: center;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.input__file{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    margin-left: 1rem;
    width: 90%;
    background-color: #fafafa;
    border:0;
    box-shadow:0 0 4px rgba(0,0,0,0.3);
    padding:10px;
    transition: .3s box-shadow;
    border-radius: 10px;
    cursor: pointer;
}

.button__div{
    margin-top: 3rem;
    text-align: center;
}
.button__submit{
    background-color:black;
    /* width:15rem; */
    width:40%;
    padding:0.9rem 1rem;
    border:none;
    outline:none;
    border-radius:0.5rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.5rem;
    color:white;
    margin-bottom:0.5rem;
}
.form__component{
    margin-top: 0.5rem;
}