.Login__title{
    text-align: center;
    margin-bottom: 1rem;
}
.Login{
    /* display: flex;
    justify-content: center;
    align-content: center; */
    height: 93vh;
    margin: auto;
    width: 45%;
    padding-top: 30vh;
}
.centerDiv{
    /* margin: auto;
    width: 45%; */
}